<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Página Exitosa
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    </head>
    <body>
        <div class="contenedor">
            <h1>
                Aqui están los correos:
            </h1>
            {% for email in emails %}
                <div class="box">
                    <p>
                        {{email["id"]}} - {{email["correo"]}} - {{email["create_at"]}}
                    </p>
                    <form action="/success/{{email['id']}}" method="POST">
                        <button type="submit" class="link"> 
                            Borrar 
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <form action="/home" method="POST">
            <button type="submit" class="link">
                Home
            </button>
        </form>
    </body>
</html>